[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=hello-world
Exec=/usr/bin/single-instance /opt/hello-world/bin/hello-world
Icon=/usr/share/icons/hicolor/80x80/apps/hello-world80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
